@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Gowun Batang', serif; */
/* font-family: 'Nanum Pen Script', cursive; */
@import url(../css/common.css);
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
}

header {
  top: 0;
  width: 100%;
  height: 80px;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}
h1 span {
  font-size: 36px;
  transition: 0.3s ease-in;
  opacity: 0;
}
h1.on span {
  font-size: 36px;
  opacity: 1;
}
h1.on span:nth-child(1){color:red}
h1.on span:nth-child(2){color:orange}
h1.on span:nth-child(3){color:yellow}
h1.on span:nth-child(4){color:green}
h1.on span:nth-child(5){color:blue}
h1.on span:nth-child(6){color:navy}
h1.on span:nth-child(7){color:purple}
h1.on span:nth-child(8){color:#000}

nav {
  display: flex;
  gap: 0 2vw;
}
header:hover {
  height: 250px;
  background-color: #fff;
}
header:hover nav dd {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.1s;
}
nav dl {
  text-align: center;
}
nav dt {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 32px;
}
header nav dl:nth-of-type(1):hover dt a,
header nav dl:nth-of-type(1):hover dd:hover a {
  color: #755139;
}
header nav dl:nth-of-type(2):hover dt a,
header nav dl:nth-of-type(2):hover dd:hover a {
  color: darkgreen;
}
header nav dl:nth-of-type(3):hover dt a,
header nav dl:nth-of-type(3):hover dd:hover a {
  color: #ff8c00b6;
}
header nav dl:nth-of-type(4):hover dt a,
header nav dl:nth-of-type(4):hover dd:hover a {
  color: #fff;
  text-shadow: 4px 4px 4px gray;
}

nav dt a,
nav dd a {
  display: inline-block;
}
nav > dl > dt a:hover {
  text-shadow: 4px 2px 2px gray;
  /* transform: scale(1.2); */
  /* border-bottom: 2px solid #000; */
}
nav dd {
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
nav dd > a:hover {
  text-shadow: 4px 2px 2px gray;
  transform: scale(1.2);
  /* border-bottom: 2px solid #000; */
}
.title {
  padding-top: 10%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.position > ul {
  font-size: 1.4rem;
  color: #313577;
  display: flex;
  gap: 0 15px;
}
.posiotion ul li:nth-child(3) {
  text-decoration: underline;
}
.position {
  margin: 8% 0 0 2%;
  font-weight: bold;
}
.content {
  margin-top: 3%;
}
.content h2 {
  /* margin-bottom: 2%; */
  text-align: center;
  font-size: 3rem;
  color: #cf7933;
}
.tit-i {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background: url(../img/mouse-pointer.png) no-repeat center/cover;
}
.content h3 {
  margin-bottom: 5%;
  line-height: 1.4;
  font-size: 1.3rem;
  text-align: center;
}
.main-category {
  margin: 0 auto;
  width: 85%;
  /* text-align: center; */
  font-size: 2rem;
  line-height: 1.5;
  border-bottom: 4px solid #cf7933;
}
.first-img{
  margin-top: 2%;
  text-align: center;
}
.first-img img{
  width: 10%;
  height: 5%;
}
.grid {
  position: relative;
  display: grid;
  margin: 2% 10%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: min(1vw, 5px);
  grid-row-gap: min(1.5vw, 5px);
}
.grid img{
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
}
.grid>div:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
  transform: scale(0.95);
  z-index: 9999;
}
@-webkit-keyframes flash {
	00% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.more{
/* margin: 5% auto; */
padding: 2% 46%;
text-align: center;  
}
.more h2{
  font-size: 1rem;
  padding: 18% 0%;
  border-radius: 4.375rem;
  text-align: center;
  background-color: #fff;
  color: darkgreen;
  cursor: pointer;
}
.more h2:hover{
  /* border: 1px solid #000; */
  font-size: 1rem;
  padding: 18% 0%;
  border-radius: 4.375rem;
  text-align: center;
  background-color: darkgreen;
  color: #fff;
}
#footer {
  border-top: 4px solid #000;
  position: relative;
  background-color: rgba(255, 235, 205, 0.712);
  height: 65%;
}
.footer_logo {
  top: -45%;
  width: 100%;
  text-align: center;
}
.footer_logo > img {
  width: 200px;
  height: 150px;
}
.fot-Menu {
  position: relative;
  border-bottom: 4px solid #000;
  
}
.fot-Menu > h3 {
  font-size: 3rem;
  margin-left: 50px;
}
.fot-Menu ul {
  display: flex;
  gap: 0 30px;
  margin: 10px 50px 5px;
  font-size: 1.4rem;
}
.fot-Menu ul > li:hover {
  transform: scale(1.4);
}
.sns-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.sns-menu h3 {
  font-size: 3rem;
  margin-left: 50px;
}
.sns-menu span {
  display: none;
}
.fa-facebook:hover {
  color: cornflowerblue;
}
.fa-instagram:hover {
  color: orange;
}
.fa-youtube:hover {
  color: orangered;
}
#footer h2 {
  font-size: 2.5rem;
  margin: 85px 50px 10px;
}
#footer ul {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 50px;
  line-height: 1.4;
}

.go_up {
  position: absolute;
  right: 80px;
  bottom: auto;
  top: 70%;
  font-size: 2.5rem;
  /* border-bottom: 3px solid darkgreen; */
}
.go_up a::after {
  content: "";
  display: block;
  width: 0%;
  margin-left: 100%;
  margin-top: 4px;
  height: 5px;
  background-color: darkgreen;
  transition: 0.3s;
}

.go_up:hover a::after {
  width: 100%;
  margin-left: 0%;
  transition: width 0.3s;
}
